<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>The Playlist Maker</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
  <center>
       <div class="title">
         Playlist Maker
       </div>
       <br>
       <div class="logo">
         <img src="/static/img/TPMlogo.png" width="260">
       </div>
       <br>
      <div id="pmform">
          <h3>Make a Spotify Playlist. Enter an Artist Name</h3>
          <br>
          <form id="pm" action="/">
              <input type="text" name="artist" placeholder="Artist name" width="50">
          </form>
          <br>
          <h5 > <%= result %></h5>
      </div>
       <div>
         <center>
           <a href="https://slack.com/oauth/authorize?scope=commands&client_id=12707316370.433477938419"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
  </center>
  </div>

  </center>
  <div class="p1">A playlist a day makes the team say yay!
    Easily create playlists in Slack.
    Use command "/playlistmaker Artist" and Playlist Maker returns a custom Spotify playlist for that Artist. Add it to your Slack workplace today, your team members will thank you!</div>

</body>
<FOOTER>
  <center><a href="/PrivacyPolicy">Privacy Policy</a> | <a href="https://form.jotform.com/83175461654158">Contact Us</a> </center>
</FOOTER>
</html>
