@font-face {
  font-family: Gilroy-Light;
  src: url(../font/Gilroy-Light.otf) format('opentype');

}
body{
}
.main{
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 30px;
}

.title{
  font-size: 48px;
  font-family: Gilroy-Light;
  font-weight: bold;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.p1{
  padding-left: 9%;
  padding-top: 50px;
  padding-right: 9%;
  margin: auto;
  font-family: Gilroy-Light;
  font-size: 25px;
  font-weight: bolder;

}
