@font-face {
  font-family: Gilroy-Light;
  src: url(../font/Gilroy-Light.otf) format('opentype');

}

h1{
  padding-top: 20px;
  padding-left: 10%;
  font-family: Gilroy-Light;
  font-weight: bold;
}

p{
  padding-left: 10%;
  padding-right: 10%;
  font-family: Gilroy-Light;
  font-weight: bold;
  font-size: 18px;
}

h2{
  padding-left: 10%;
}
